/*
 Media Query Manager

 Breakpoints : Screens         : nickname

 0-600 px    : phone           : phone
 600-900 px  : tablet-portrait : tab-port
 900-1200 px : tablet-landscape: tab-land
 1200-1800 px: normal becoz its desktop first method
 1800px +    : Big Monitor     : big-screen

 1em = 16px
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.margin-bottom-big {
  margin-bottom: 1.5rem;
}
@media (min-width: 37.5em) {
  .margin-bottom-big {
    margin-bottom: 3rem;
  }
}

.margin-bottom-medium {
  margin-bottom: 1rem;
}
@media (min-width: 37.5em) {
  .margin-bottom-medium {
    margin-bottom: 2rem;
  }
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}
@media (min-width: 37.5em) {
  .margin-bottom-small {
    margin-bottom: 1rem;
  }
}

.color-white {
  color: white;
}

.color-blue {
  color: #0092d5;
}

.color-orange {
  color: #f26522;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pri-btn,
.sec-btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.pri-btn:focus,
.sec-btn:focus {
  outline: none;
}
@media (min-width: 37.5em) {
  .pri-btn,
.sec-btn {
    width: 176px;
    height: 59px;
    box-sizing: 15px;
  }
}

.pri-btn {
  background-color: #f26522;
}

.sec-btn {
  border: 1px solid #f26522;
  background-color: transparent;
}

.link-btn:link, .link-btn:visited {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.pri-header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/images/Landing-page.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-width: 37.5em) {
  .pri-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (min-width: 37.5em) {
  .header-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.impact {
  width: 100%;
  position: relative;
}
.impact__bdg {
  width: 100%;
}
.impact__textbox {
  width: 25%;
  position: absolute;
  top: 934px;
  left: 193px;
}

.font-big {
  font-size: 4.5rem;
}
@media (min-width: 37.5em) {
  .font-big {
    font-size: 6rem;
  }
}

.font-meduim {
  font-size: 3rem;
}
@media (min-width: 37.5em) {
  .font-meduim {
    font-size: 4.5rem;
  }
}

.font-small {
  font-size: 1.8rem;
}
@media (min-width: 37.5em) {
  .font-small {
    font-size: 2.4rem;
  }
}

.font-smaller {
  font-size: 1.6rem;
}
@media (min-width: 37.5em) {
  .font-smaller {
    font-size: 2rem;
  }
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.05em;
}
@media (min-width: 37.5em) {
  .text {
    line-height: 45px;
  }
}

.sub-header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
}

/*# sourceMappingURL=style.css.map */
