/*
 Media Query Manager

 Breakpoints : Screens         : nickname

 0-600 px    : phone           : phone
 600-900 px  : tablet-portrait : tab-port
 900-1200 px : tablet-landscape: tab-land
 1200-1800 px: normal becoz its desktop first method
 1800px +    : Big Monitor     : big-screen

 1em = 16px
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.margin-bottom-big {
  margin-bottom: 1.5rem;
}
@media (min-width: 37.5em) {
  .margin-bottom-big {
    margin-bottom: 3rem;
  }
}

.margin-bottom-medium {
  margin-bottom: 1rem;
}
@media (min-width: 37.5em) {
  .margin-bottom-medium {
    margin-bottom: 2rem;
  }
}

.margin-bottom-small {
  margin-bottom: 0.5rem;
}
@media (min-width: 37.5em) {
  .margin-bottom-small {
    margin-bottom: 1rem;
  }
}

.color-white {
  color: white;
}

.color-blue {
  color: #0092d5;
}

.color-orange {
  color: #f26522;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pri-btn,
.sec-btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: none;
}
.pri-btn:focus,
.sec-btn:focus {
  outline: none;
}
@media (min-width: 37.5em) {
  .pri-btn,
.sec-btn {
    width: 176px;
    height: 59px;
    box-sizing: 15px;
  }
}

.pri-btn {
  background-color: #f26522;
}

.sec-btn {
  border: 1px solid #f26522;
  background-color: transparent;
}

.display-img {
  display: block !important;
}

.psolutions-img {
  display: none;
}
.psolutions-img__images {
  width: 100%;
  height: 100vh;
  background-image: url("../images/water-treatment-chemicals-media.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.psolutions-logo {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.psolutions-logo__img {
  width: 150px;
  height: 100px;
}
.psolutions-logo__img--size {
  width: 100%;
  height: 100%;
}

.pri-header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(/images/Landing-page.jpg);
  background-position: center;
  background-size: cover;
}
@media (min-width: 37.5em) {
  .pri-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

@media (min-width: 37.5em) {
  .header-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.impact {
  width: 100%;
  position: relative;
}
.impact__bdg {
  width: 100%;
  height: 135vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: end;
  background-image: url("../images/africa-logos.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.impact__textbox {
  width: 45%;
  padding-left: 14rem;
}
.impact__images {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 37.5em) {
  .impact__images {
    width: 80%;
    margin: 4rem auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
}
.impact__image {
  height: 32vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.impact__img {
  width: 45%;
}
@media (min-width: 37.5em) {
  .impact__img {
    width: 60%;
  }
}

.solutions {
  position: relative;
  overflow: hidden;
  background-image: url("../images/Rectangle-curve.svg");
  background-repeat: no-repeat;
  background-position: right bottom;
}
.solutions__heading {
  text-align: center;
}
.solutions__solution {
  width: 75%;
  height: 60vh;
  margin: 0 auto;
  display: none;
  flex-direction: column;
  justify-content: flex-end;
}
.solutions__bdg {
  background: linear-gradient(1.05deg, #ffffff -27.02%, rgba(255, 255, 255, 0) 99.16%);
}
.solutions__brand {
  text-align: center;
  width: 90%;
}
@media (min-width: 37.5em) {
  .solutions__brand {
    width: 45%;
    text-align: end;
    margin-bottom: 10rem;
  }
}
.solutions__btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (min-width: 37.5em) {
  .solutions__btn {
    justify-content: flex-end;
  }
}
.solutions__linear {
  width: 95%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 37.5em) {
  .solutions__linear {
    align-items: flex-end;
    justify-content: flex-end;
  }
}
.solutions__curve {
  display: none;
}
@media (min-width: 37.5em) {
  .solutions__curve {
    display: block;
    position: absolute;
    bottom: 0;
    right: -186px;
    width: 100%;
    height: 161vh;
    z-index: -1;
  }
}

.disp {
  display: flex;
}

.products {
  text-align: center;
  margin: 0 auto;
  width: 75%;
}
.products__product {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.products__product--details {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.sproduct {
  flex-direction: column;
  justify-content: initial;
}
@media (min-width: 75em) {
  .sproduct {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.sproduct__details {
  width: 100%;
}
@media (min-width: 75em) {
  .sproduct__details {
    width: 60%;
  }
}

.psolutions {
  width: 100%;
  margin: initial;
}
@media (min-width: 75em) {
  .psolutions {
    width: 80%;
    margin: 0 auto;
  }
}

.data-sheets {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.data-sheets__logo {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.data-sheets__logo--img {
  background-color: grey;
  width: 150px;
  height: 100px;
}

.product-nav__header {
  width: 100%;
  height: 75vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.product-nav__sect {
  display: flex;
  flex-direction: column-reverse;
}
@media (min-width: 37.5em) {
  .product-nav__sect {
    flex-direction: row;
    justify-content: space-between;
  }
}
.product-nav__sect--header {
  display: none;
}
@media (min-width: 37.5em) {
  .product-nav__sect--header {
    display: block;
  }
}
.product-nav__sect--subheader {
  width: 100%;
  height: 25vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 37.5em) {
  .product-nav__sect--subheader {
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: end;
  }
}

.font-big {
  font-size: 3.2rem;
}
@media (min-width: 37.5em) {
  .font-big {
    font-size: 4.8rem;
  }
}

.font-meduim {
  font-size: 2rem;
}
@media (min-width: 37.5em) {
  .font-meduim {
    font-size: 2.4rem;
  }
}

.font-small {
  font-size: 1.6rem;
}
@media (min-width: 37.5em) {
  .font-small {
    font-size: 2rem;
  }
}

.font-smaller {
  font-size: 1.2rem;
}
@media (min-width: 37.5em) {
  .font-smaller {
    font-size: 1.6rem;
  }
}

.heading {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.heading-bdg {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: url("../images/water-bdg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.05em;
}

.sub-header {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
  text-transform: capitalize;
}

.link:link, .link:visited {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 21px;
  text-decoration: none;
}

.link-btn:link, .link-btn:visited {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
