.heading {
  font-family: $pri-font;
  font-style: normal;
  font-weight: 700;
}

.heading-bdg {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  background-image: url("../images/water-bdg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
