.link {
  &:link,
  &:visited {
    font-family: $pri-font;
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    text-decoration: none;
  }
}

.link-btn {
  &:link,
  &:visited {
    font-family: $pri-font;
    font-style: normal;
    font-weight: 700;
    text-decoration: none;
  }
}
