@mixin textCenter {
  display: flex;
  align-items: center;
}

@mixin backgroundSetupFixed {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@mixin backgroundSetup {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*
  Media Query Manager
  
  Breakpoints : Screens         : nickname
  
  0-600 px    : phone           : phone
  600-900 px  : tablet-portrait : tab-port
  900-1200 px : tablet-landscape: tab-land
  1200-1800 px: normal becoz its desktop first method
  1800px +    : Big Monitor     : big-screen
  
  1em = 16px
  */

@mixin respond($breakpoint) {
  //big screen breakpoint
  @if $breakpoint==big-screen {
    @media (min-width: 112.5em) {
      @content;
    }
  }
  //tab-land breakpoint
  @if $breakpoint==tab-land {
    @media (min-width: 75em) {
      @content;
    }
  }

  //tab-port breakpoint
  @if $breakpoint==tab-port {
    @media (min-width: 56.25em) {
      @content;
    }
  }

  //phone breakpoint
  @if $breakpoint==phone {
    @media (min-width: 37.5em) {
      @content;
    }
  }
}
