.margin-bottom-big {
  margin-bottom: 1.5rem;

  @include respond(phone) {
    margin-bottom: 3rem;
  }
}

.margin-bottom-medium {
  margin-bottom: 1rem;

  @include respond(phone) {
    margin-bottom: 2rem;
  }
}

.margin-bottom-small {
  margin-bottom: 0.5rem;

  @include respond(phone) {
    margin-bottom: 1rem;
  }
}

.padding-right-10 {
  padding-right: none;

  @include respond(tab-land) {
    padding-right: 10rem;
  }
}

.color-white {
  color: $color-white;
}
.color-blue {
  color: $color-blue;
}
.color-orange {
  color: $color-orange;
}

.overflow {
  overflow: auto;
}
