.bdg {
  position: relative;
  width: 100%;
  height: 100vh;
}

.background {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  top: 0;
  left: 0;
  position: absolute;
  z-index: -1;

  &__color {
    width: 0;
    height: 100%;
    background-color: #0a1215;

    @include respond(tab-port) {
      width: 70%;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-image: url("../images/waves.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include respond(tab-port) {
      width: 30%;
    }
  }
}

.contact {
  width: 100%;
  margin: 0 auto;
  padding-top: 6rem;

  @include respond(tab-port) {
    width: 70%;
  }
}
.form {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
  height: 35vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 6rem;
  @include respond(tab-port) {
    width: 80%;
  }
}
