.pri-header {
  width: 100%;
  height: 100vh;
  background-image: url("../images/water-treament.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @include respond(phone) {
    flex-direction: row;
    justify-content: flex-end;
  }
}
.header-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include respond(phone) {
    width: 50%;
    height: 100%;
    justify-content: center;
    text-align: left;
    align-items: flex-start;
  }
}

.impact {
  width: 100%;

  @include respond(phone) {
    height: 160vh;
  }

  &__bdg {
    position: relative;
    width: 100%;
    height: 100%;

    @include respond(tab-land) {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    &--image {
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;

      @include respond(tab-land) {
        height: 100%;

        position: absolute;
        z-index: -1;
      }
    }

    &--textbox {
      width: 100%;
      text-align: center;

      @include respond(tab-land) {
        width: 45%;
        padding-left: 14rem;
        text-align: left;
      }
    }

    &--img {
      height: 100%;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    @include respond(phone) {
      width: 80%;
      margin: 4rem auto;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      text-align: center;
    }

    &--image {
      height: 45vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &--img {
      width: 100%;
      height: 100%;
    }
  }
}

.solutions {
  position: relative;
  overflow: hidden;
  background-image: url("../images/Mask group.svg");
  background-repeat: no-repeat;
  background-position: right bottom;

  &__heading {
    text-align: center;
  }

  &__solution {
    width: 100%;
    height: 60vh;
    margin: 0 auto;
    display: none;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__bdg {
    background: linear-gradient(
      1.05deg,
      #ffffff -27.02%,
      rgba(255, 255, 255, 0) 99.16%
    );
  }

  &__brand {
    text-align: center;
    width: 90%;
    @include respond(phone) {
      width: 45%;
      text-align: end;

      margin-bottom: 10rem;
    }
  }

  &__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;

    @include respond(phone) {
      justify-content: flex-end;
    }
  }

  &__linear {
    width: 95%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include respond(phone) {
      align-items: flex-end;
      justify-content: flex-end;
    }
  }

  &__curve {
    display: none;

    @include respond(phone) {
      display: block;
      position: absolute;
      bottom: 0;
      right: -186px;
      width: 100%;
      height: 161vh;
      z-index: -1;
    }
  }
}

.disp {
  display: flex;
}

.products {
  text-align: center;
  margin: 0 auto;
  width: 95%;

  &__product {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;

    &--details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }

    &--img {
      width: 100%;
      height: 330px;

      @include respond(phone) {
        width: 400px;
      }
    }

    &--image {
      width: auto;
      height: 95%;
    }
    &--text {
      width: 100%;

      @include respond(tab-land) {
        width: 60%;
        margin: 0 auto;
      }
    }
  }
}
//src="./images/africa-logos.png" - 70.2

.impact {
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include respond(tab-land) {
    width: 80%;
    height: 160vh;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 auto;
  }

  &__background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 70%;
    @include respond(tab-land) {
      width: 100%;
      height: 100%;
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &__text {
    width: 100%;
    height: 30%;
    text-align: center;
    @include respond(tab-land) {
      width: 426px;
      height: 356px;
      text-align: start;
    }
  }
}

.img-water-hands {
  background-image: url("../images/Water-on-hands.jpg");
}

.img-logos {
  background-image: url("../images/africa-logos.jpg");
}
