.sproduct {
  flex-direction: column;
  justify-content: initial;

  @include respond(tab-land) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  &__details {
    width: 100%;

    @include respond(tab-land) {
      width: 60%;
    }
  }
}

.psolutions {
  width: 100%;
  margin: initial;
  padding-top: 12rem;
  @include respond(tab-land) {
    width: 80%;
    margin: 0 auto;
  }
}

.data-sheets {
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  &__logo {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    &--img {
      background-color: grey;
      width: 150px;
      height: 100px;
    }
  }
}
